@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

img {
    width: 100%;
}

.cabecalho-titulo {
    font-family: "Young serif";
    font-weight: 400;
    font-size: 40px;
    text-align: left;
    margin: 20px;
}

.cabecalho-descricao {
    font-family: "Outfit";
    margin: 20px;
    color: var(--Stone600);
}

.preparacao {
    background-color: var(--Rose50);
    font-size: 14px;
    margin: 25px;
    border-radius: 10px;
    color: var(--Rose800);
    padding: 20px;
}

.preparacao-titulo {
    font-family: "Outfit";
    font-weight: 600;
    padding: 6px;
}

.preparacao-descricao {
    padding-left: 25px;
}


.preparacao-span {
    font-family: "Outfit";
    font-weight: 600;
    font-size: 18px;
    color: var(--Stone600);
}

.preparacao-descricao li {
    font-weight: 400;
    font-size: 16px;
    padding: 10px;
    color: var(--Stone600);
}

.ingredientes {
    margin: 25px;
}

.ingredientes-titulo {
    font-family: "Young serif";
    font-size: 32px;
    font-weight: 400;
    color: var(--Brown800);
}

.ingredientes-descricao {
    margin: 15px;
}

.ingredientes-descricao li {
    font-family: "Outfit";
    color: var(--Stone600);
    font-weight: 400;
    padding: 10px;
}

.hr-custom {
    margin: 20px;
    border: 1px solid var(--Stone150);
}

.instrucoes {
    margin: 25px;
}

.instrucoes-titulo {
    font-family: "Young serif";
    font-size: 32px;
    font-weight: 400;
    color: var(--Brown800);
}

.instrucoes-lista {
    margin: 25px;
}

.instrucoes-lista li {
    font-family: "Outfit";
    font-weight: 400;
    color: var(--Stone600);
    padding: 7px;
}

.nutricao {
    margin: 25px;
}

.nutricao-titulo {
    font-family: "Young serif";
    font-size: 32px;
    font-weight: 400;
    color: var(--Brown800);
}

.nutricao-descricao {
    font-family: "Outfit";
    font-weight: 400;
    color: var(--Stone600);
    margin-top: 10px;
}

table {
    width: 80%;
    margin: 20px 0 10px 30px;
}

tr {
    display: flex;
    justify-content: space-between;
}

td {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--Stone150);
    }

.table1 {
    font-family: "Outfit";
    font-weight: 400;
    color: var(--Stone600);
}

.table2 {
    font-family: "Outfit";
    font-weight: 800;
    color: var(--Rose800);
}


@media screen and (min-width: 1440px) {
    html {
        background-color: var(--Stone100);
    }

    body {
        background-color: white;
        width: 50%;
        margin: 20% auto 20%;
        border-radius: 15px;
    }

    img {
        width: 90%;
        border-radius: 15px;
        margin: 30px 0 20px 5%;
    }

    .cabecalho {
        margin-left: 15px;
    }

    .cabecalho-titulo {
        font-size: 36px;
    }

    .cabecalho-descricao {
        font-size: 16px;
    }

    .preparation {
        margin-left: 15px;
    }

    .ingredientes {
        margin-left: 35px;
    }

    .ingredientes-descricao {
        margin-left: 25px;
    }

    .instrucoes {
        margin-left: 35px;
    }

}